*{ 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.container{
width: 100%;
height: 100vh;
background-color: #f5f5f5;
display: flex; 
align-items: center;
justify-content: center;
} 
.swiper{
    width: 80%; 
    height: fit-content;
} 
.swiper-slide img  {
 width: 100%;

}