

body {background-color:#8b9dc3; text-align: center;}

#div1 {background-color: #dfe3ee; font-size: large; color: 	#005073; }

#nav {background-color: #dfe3ee ; font-size: 20px; }

#div2 {background-color: #dfe3ee ; font-size: 30px; width: 180px  }

a {padding-left: 6%;  padding-right: 6%;  font-size: 20px;  }